body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;  
     }

h1, h2, h3 {
     color:#254;
           }  

header {
    background-color: #37aed3;
    COLOR: rgb(219, 77, 77);
    padding: 20px;
    text-align: center;
       }
       
header nav {
    margin-top: 10px;
    text-align: center;
           }

header nav a {
            color: rgb(179, 26, 26);
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
              }
        
header nav a:hover {
            text-decoration: underline;
                   }
        
main {
        padding: 20px;        
        background-color: #f9f9f9;
        box-sizing: border-box;
     }


section {
        background-color: #eef;
        padding: 20px;
        margin-top: 10px;
        }
aside {
     padding: 20px;
     background-color: #f0f0f0;
     margin-top: 20px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     box-sizing: border-box;
      }
        
aside ul {
        list-style-type: none;
        padding: 0;
         }
        
aside ul li {
        margin: 10px 0;
            }
        
aside ul li a {
        color: #333;
        text-decoration: none;
              }
        
aside ul li a:hover {
        text-decoration: underline;
                    }
        
article {
        background-color: #fdfdfd;
        margin-top: 10px;
        padding: 20px;
        border: 1px solid #ddd;
        }
        
.fecha {
        font-size: 0.9em;
        color: #777;
       }
        
figure {
        text-align: center;
        margin: 20px 0;
       }
        
figure img {
        max-width: 100%;
        height: auto;
           }
        
figcaption {
        font-size: 0.9em;
        color: #555;
        margin-top: 5px;
           }
        
details {
        background-color: #f7f7f7;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        }
        
summary {
        font-weight: bold;
        cursor: pointer;
        }
        
footer {
        font-size: small;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
       }
        
#demo {
    font-size: 25%;
      }