sbody {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /*aplica elemntos en la columna*/
    min-height: 100vh; /*asegura que el body ocupe al menos la altura de la pantalla */ 
     }

h1, h2, h3 {
     color:rgb(0, 0, 0);
           }  
/* Estilos para el encabezado*/
header {
    background-color: #37aed3;
    COLOR: rgb(219, 77, 77);
    padding: 20px;
    text-align: center;
       }
       
header nav {
    margin-top: 10px;
    text-align: center;
           }

header nav a {
            color: rgb(179, 26, 26);
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
              }
        
header nav a:hover {
            text-decoration: underline;
                   }
        
/* Estilos para el contenido principal */
main {
        padding: 20px;        
        background-color: #a93535;
        box-sizing: border-box;
     }
        
/* Estilos para section */
section {
        background-color: rgb(154, 154, 223);
        padding: 20px;
        margin-top: 10px;
        }
        
/* Estilos para el aside */
aside {
     padding: 20px;
     background-color: #ce2626;
     margin-top: 20px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     box-sizing: border-box;
      }
        
aside ul {
        list-style-type: none;
        padding: 0;
         }
        
aside ul li {
        margin: 10px 0;
            }
        
aside ul li a {
        color: #333;
        text-decoration: none;
              }
        
aside ul li a:hover {
        text-decoration: underline;
                    }
        
/* Estilos para el artículo */
article {
        background-color: #db3c3c;
        margin-top: 10px;
        padding: 20px;
        border: 1px solid #1b8795;
        }
        
/* Estilos para la fecha en el artículo */
.fecha {
        font-size: 0.9em;
        color: rgba(245, 245, 245, 0.997);
       }
        
/* Estilos para figure y figcaption */
figure {
        text-align: center;
        margin: 20px 0;
       }
        
figure img {
        max-width: 100%;
        height: auto;
           }
        
figcaption {
        font-size: 0.9em;
        color: #555;
        margin-top: 5px;
           }
        
/* Estilos para details */
details {
        background-color: #0a44a9;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #7d0303;
        }
        
summary {
        font-weight: bold;
        cursor: pointer;
        }
        
/* Estilos para el pie de página */
footer {
        font-size: small;
        background-color: #000000;
        color: rgb(255, 250, 250);
        text-align: center;
        padding: 10px;
       }
        
/*Estilo del párrafo demo para mostrar la hora más pequeña*/
#demo {
    font-size: 75%;
      }